<div class="risk-assesment">
    <h3>Submit Answer</h3>
    <form>
        <div class="row">
            
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="odds">What is the probibilty for risk in this scenerio?</label>

                    <select name="odds" ng-model="odds" ng-options="odd.val for odd in oddsList" required class=" form-control odds">
                        <option value="">Select</option>
                    </select>
                    
                    {{ oddsDescription }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="certainty">How certain are you?</label>
                    <select name="certainty" ng-model="certainty" ng-options="certain.val for certain in certaintyList" required class="form-control certainty">
                        <option value="">Select</option>
                    </select>
                    {{ certaintyDescription }}
                    <div>
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <button ng-click="submitAnswer()" id="question-submit-answer-btn" class="btn btn-primary">Submit Answer</button>
            </div>


        </div>
        
            


        
    </form>
</div>